.controls{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: left;
}

.controls label{
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.controls input{
    font: inherit;
    padding: .5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.action{
    text-align: center;
}