.chart-bar{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cb-inner{
    height: 100%;
    width: 100%;
    border: 1px solid #313131;
    border-radius: 12px;
    background-color: #5c86dac2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cb-fill{
    font-weight: bold;
    font-size: 0.5rem;
    text-align: center;
    background-color: #084a8e;
}

.cb-label{
    width: 100%;
    transition: all 0.3s ease-out;
}
